@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ds-heading-sm: 700 1rem / 1.5rem 'proxima-nova', ui-sans-serif, -apple-system, system-ui,
    sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a2c38;
  width: 100%;
  height: 100%;
}

/* div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
select,
table,
td,
tr {

  font:var(--ds-heading-sm)
} */
